{% for block in section.blocks %}
    {% if block.type == "button" %}
                    <div li-block="Button" class="block-wrapper">
                                    
                                    <a li-object:href="block.settings.btn_url" href="{{ block.settings.btn_url }}" class="button w-inline-block {{ block.settings.btn_size }} {{ block.settings.btn_style }}"><div class="settings-schema w-embed"></div>
{% if block.settings.btn_layout != 'btn_layout_icon' %}    <span li-if="block.settings.btn_layout != 'btn_layout_icon'">
    {{ block.settings.btn_text | default: "Button Text" }}    </span>
{% endif %}{% if block.settings.btn_layout != 'btn_layout_text' %}    <svg viewbox="{{ block.settings.btn_icon_viewbox | default: "0 0 384 512" }}" width="100%" fill="currentColor" li-if="block.settings.btn_layout != 'btn_layout_text'" class="icon-1x1-small {{ block.settings.btn_icon_size }}">
    <path d="{{ block.settings.btn_icon_path | default: "M328 96c13.3 0 24 10.7 24 24l0 240c0 13.3-10.7 24-24 24s-24-10.7-24-24l0-182.1L73 409c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l231-231L88 144c-13.3 0-24-10.7-24-24s10.7-24 24-24l240 0z" }}"></path>    </svg>
{% endif %}</a>
                                    
                            </div>
            {% endif %}
{% endfor %}
