<script src="{{ 'liquify_custom.js' | asset_url }}" type="text/javascript"></script>
<div li-element="product-variant-container" class="product12_item" x-data="handleVariant({{ product | json | escape }}, {{ product.options_by_name | json | escape }}, {{ product.selected_or_first_available_variant | json | escape }})" x-init="$nextTick(() => { activateVariants() })" @setbundleitem.window="updateBundleItem($event.detail.product, $event.detail.quantity)">
   <div class="product-slide_image-link">
      <a li-object:href="product.url" href="{{ product.url }}" class="product-slide_image-wrapper w-inline-block">
         <div class="product12_bg-overlay"></div>
         <img li-object:alt="product.featured_image.alt" loading="lazy" li-object:src="product.featured_image | image_url: width: 720" src="{{ product.featured_image | image_url: width: 720 }}" alt="{{ product.featured_image.alt }}" class="product-slide_image">
         <div class="product12_bg-image"></div>
         
      </a>
      <div class="product-item_tag_list">
         {% if product.selected_or_first_available_variant.available != true %}    
         <div li-if="product.selected_or_first_available_variant.available != true" class="product-item_tag">
            Not in Stock    
         </div>
         {% endif %}{% if product.compare_at_price_max > product.price %}    
         <div li-if="product.compare_at_price_max > product.price" class="product-item_tag is-yellow">
            Sale    
         </div>
         {% endif %}
         
      </div>
      <div  class="product-purple_tag">
        10 DAY PRODUCTION    
      </div>
      <div class="product-card-overlay">
        From $15.95 with DTF Printing 1 Side
      </div>
      
   </div>
   <div class="spacer-xxsmall"></div>
   <div class="spacer-xsmall"></div>
   <div class="product-item_form-wrapper">
      {% if product.available == true %}    
      <div li-if="product.available == true">
         <a li-element="add-to-cart" href="#" class="button is-tertiary is-small w-button" @click="addToCart($event, true)" :disabled="!addToCartButton">Add to Cart</a>    
      </div>
      {% endif %}{% if product.available != true %}    
      <div li-if="product.available != true">
         <a href="#" class="button is-secondary is-small pointer-events-off w-button">Not in Stock</a>    
      </div>
      {% endif %}
   </div>
   
</div>
<div class="product_desc_wrapper">
   <a href="{{ product.url }}">
      <div class="product_title">{{ product.title }}</div>
      <div classs="product_price">From {{ product.price }}</div>
   </a>
</div>
<style>
    .product_desc_wrapper{
        text-align: center;
        font-weight: bold;
        margin-top: 10px;
    }
    .product-purple_tag{
        position: absolute;
        background: #753c9e;
        width: 100%;
        color: white;
        font-weight: 700;
        text-align: center;
        padding: 7px;
    }
    .product-card-overlay{
        position: absolute;
        top: 32px; /* directly after header */
        left: 0;
        right: 0;
        bottom: 0; /* until card bottom */
        background: rgba(88, 88, 88, 0.6);
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px;
        opacity: 0;
        transition: opacity 0.3s ease;
    }
    .product-slide_image-link:hover .product-card-overlay{
        opacity: 1;
    }
</style>