<div id="contact" class="padding-global">
   <div class="container-large">
      <div class="padding-section-large">
         <div class="contact5_component">
            <div class="w-layout-grid contact5_content">
               <div class="settings-schema w-embed"></div>
               <div class="contact5_content-left">
                  <div class="contact5_content-left-top">
                    <div class="margin-bottom margin-xlarge">
                        <div class="contact5_heading-wrapper">
                            <div class="margin-bottom margin-small">
                            <h2 li-object="section.settings.contact_heading_text" class="heading-style-h2">{{ section.settings.contact_heading_text }}</h2>
                            </div>
                            <div class="richtext-wrapper text-size-medium w-richtext">
                            <p li-object="section.settings.contact_paragraph_text">{{ section.settings.contact_paragraph_text }}</p>
                            </div>
                        </div>
                        
                        <!-- Mobile form - duplicate for mobile positioning -->
                        <div class="contact5_mobile-form">
                           {% form 'contact', return_to: '/pages/thankyou' %}
                           {% form 'contact', return_to: '/', class: 'contact5_form' %}
                           <div class="form_field-wrapper"><label for="Contact-5-Name-Mobile" class="form_form_label">Name</label><input class="form_input w-input" maxlength="256" name="contact[name]" data-name="Contact 5 Name Mobile" placeholder="" type="text" id="Contact-5-Name-Mobile" required=""></div>
                           <div class="form_field-wrapper"><label for="Contact-5-Email-Mobile" class="form_form_label">Email</label><input class="form_input w-input" maxlength="256" name="contact[email]" data-name="Contact 5 Email Mobile" placeholder="" type="email" id="Contact-5-Email-Mobile" required=""></div>
                           <div class="form_field-wrapper"><label for="Contact-5-Message-Mobile" class="form_form_label">Message</label><textarea class="form_input is-text-area w-input" maxlength="5000" name="contact[body]" data-name="Contact 5 Message Mobile" placeholder="Type your message..." id="Contact-5-Message-Mobile" required=""></textarea></div>
                           <div class="form-terms margin-bottom margin-small">TPG needs the contact information you provide to us to contact you about our products
                             and services. You may unsubscribe from these communications at any time. For
                             information on how to unsubscribe, as well as our privacy practices and commitment to
                             protecting your privacy, check out our Privacy Policy.
                           </div>
                           <input type="submit" data-wait="Please wait..." class="button w-button submit-button" value="Submit" style="width: 100%;">
                           {% endform %}
                           {% endform %}
                        </div>
                    </div>
                    <div class="contact5_contact-grid">
                        <div class="contact5_contact-section">
                            <h3 class="contact5_section-title">
                            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 384 512" width="20" height="20" fill="currentColor" class="contact5_icon">
                                <path d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"></path>
                            </svg>
                            Visit Us:
                            </h3>
                            <div class="contact5_contact-info">
                            <div>{{ section.settings.visit_address_line1 | default: "2/338 Lytton Road," }}</div>
                            <div>{{ section.settings.visit_address_line2 | default: "Morningside," }}</div>
                            <div>{{ section.settings.visit_address_line3 | default: "Queensland, Australia" }}</div>
                            </div>
                        </div>
                        
                        <div class="contact5_contact-section">
                            <h3 class="contact5_section-title">
                            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 384 512" width="20" height="20" fill="currentColor" class="contact5_icon">
                                <path d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"></path>
                            </svg>
                            Follow Us:
                            </h3>
                            <div class="contact5_contact-info">
                            <div>{{ section.settings.social_platform1 | default: "LinkedIn" }}</div>
                            <div>{{ section.settings.social_platform2 | default: "Facebook" }}</div>
                            <div>{{ section.settings.social_platform3 | default: "TikTok" }}</div>
                            </div>
                        </div>
                        
                        <div class="contact5_contact-section">
                            <h3 class="contact5_section-title">
                            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" width="20" height="20" fill="currentColor" class="contact5_icon">
                                <path d="M164.9 24.6c-7.7-18.6-28-28.5-47.4-23.2l-88 24C12.1 30.2 0 46 0 64C0 311.4 200.6 512 448 512c18 0 33.8-12.1 38.6-29.5l24-88c5.3-19.4-4.6-39.7-23.2-47.4l-96-40c-16.3-6.8-35.2-2.1-46.3 11.6L304.7 368C234.3 334.7 177.3 277.7 144 207.3L193.3 167c13.7-11.2 18.4-30 11.6-46.3l-40-96z"></path>
                            </svg>
                            Call Us:
                            </h3>
                            <div class="contact5_contact-info">
                            <div>{{ section.settings.phone_number | default: "2/338 Lytton Road," }}</div>
                            </div>
                        </div>
                        
                        <div class="contact5_contact-section">
                            <h3 class="contact5_section-title">
                            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" width="20" height="20" fill="currentColor" class="contact5_icon">
                                <path d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48L48 64zM0 176L0 384c0 35.3 28.7 64 64 64l384 0c35.3 0 64-28.7 64-64l0-208L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"></path>
                            </svg>
                            Email Us:
                            </h3>
                            <div class="contact5_contact-info">
                            <div>{{ section.settings.email_address | default: "2/338 Lytton Road," }}</div>
                            </div>
                        </div>
                    </div>
                  </div>
                  
                  <!-- Map section with unique class names -->
                  <div class="margin-bottom margin-xxlarge">
                     <div class="max-width-large">
                        <div class="margin-bottom margin-xsmall">
                           <div li-object="section.settings.map_tagline_text" class="text-style-tagline">{{ section.settings.map_tagline_text }}</div>
                        </div>
                        <div class="margin-bottom margin-small">
                           <h2 li-object="section.settings.map_heading_text" class="heading-style-h2-3 no-text-transform">{{ section.settings.map_heading_text }}</h2>
                        </div>
                        <div class="richtext-wrapper text-size-medium w-richtext">
                           <p li-object="section.settings.map_paragraph_text">{{ section.settings.map_paragraph_text }}</p>
                        </div>
                     </div>
                  </div>
                  <div class="margin-bottom margin-xhuge">
                     <div class="contactform_map-container">
                        <div class="contactform_map-embed w-embed w-iframe">{{ section.settings.maps_embed_html }}</div>
                     </div>
                  </div>
               </div>
               <div class="contact5_content-right">
                  {% form 'contact', return_to: '/pages/thankyou' %}
                  {% form 'contact', return_to: '/', class: 'contact5_form' %}
                  <div class="form_field-wrapper"><label for="Contact-5-Name-2" class="form_form_label">Name</label><input class="form_input w-input" maxlength="256" name="contact[name]" data-name="Contact 5 Name 2" placeholder="" type="text" id="Contact-5-Name-2" required=""></div>
                  <div class="form_field-wrapper"><label for="Contact-5-Email-2" class="form_form_label">Email</label><input class="form_input w-input" maxlength="256" name="contact[email]" data-name="Contact 5 Email 2" placeholder="" type="email" id="Contact-5-Email-2" required=""></div>
                  <div class="form_field-wrapper"><label for="Contact-5-Message-2" class="form_form_label">Message</label><textarea class="form_input is-text-area w-input" maxlength="5000" name="contact[body]" data-name="Contact 5 Message 2" placeholder="Type your message..." id="Contact-5-Message-2" required=""></textarea></div>
                  {% comment %} <div class="margin-bottom margin-small"><label id="Contact-5-Checkbox" class="w-checkbox form_checkbox" name="contact[checkbox]"><input type="checkbox" name="Contact-CTA-Checkbox-2" id="Contact-CTA-Checkbox-2" data-name="Contact CTA Checkbox 2" required="" class="w-checkbox-input form_checkbox-icon">
                     <span for="Contact-CTA-Checkbox-2" class="form_checkbox-label text-size-tiny w-form-label">I accept the <a href="#" class="text-style-link">Terms</a></span></label>
                  </div> {% endcomment %}
                  <div class="form-terms margin-bottom margin-small">TPG needs the contact information you provide to us to contact you about our products
                    and services. You may unsubscribe from these communications at any time. For
                    information on how to unsubscribe, as well as our privacy practices and commitment to
                    protecting your privacy, check out our Privacy Policy.
                  </div>
                  <input type="submit" data-wait="Please wait..." class="button w-button submit-button" value="Submit" >
                  {% endform %}
                  {% endform %}
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<style>
    /* Main content grid */
    .contact5_content-left{
        padding: 40px 0 0 40px;
    }
    .contact5_content {
        display: grid !important;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        align-items: start;
    }
    
    /* Make contact form sticky */
    .contact5_content-right {
        position: sticky;
        top: 2rem;
        align-self: start;
    }
    
    .contact5_content-right .submit-button{
        float: right;
    }
    
    /* Mobile form positioning */
    .contact5_mobile-form {
        display: none; /* Hide by default (desktop) */
        margin: 2rem 0;
    }
    
    /* Add border bottom to top section matching other borders */
    .contact5_content-left-top {
        border-bottom: 1px solid #CBD6E2;
        margin-bottom: 100px;
    }
    
    /* New 2x2 grid styles */
    .contact5_contact-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 40px;
        margin-top: 20px;
        margin-bottom: 50px;
        width: 80%;
    }
    
    .contact5_contact-section {
        padding: 0;
    }
    
    .contact5_section-title {
        font-size: 1rem;
        font-weight: 600;
        margin-bottom: 15px;
        color: #001828;
        border-bottom: 1px solid #CBD6E2;
        padding-bottom: 8px;
        display: flex;
        align-items: center;
        gap: 8px;
        text-transform: inherit;
        letter-spacing: 1px;
    }
    
    .contact5_icon {
        flex-shrink: 0;
    }
    
    .contact5_contact-info {
        font-size: 0.95rem;
        line-height: 1.6;
        color: #666;
        padding-top: 5px;
    }
    
    .contact5_contact-info div {
        margin-bottom: 5px;
    }
    
    .contact5_contact-info div:last-child {
        margin-bottom: 0;
    }
    
    /* Map styling with unique class names */
    .contactform_map-container {
        width: 100%;
        height: 400px;
        border-radius: 8px;
        overflow: hidden;
    }
    
    .contactform_map-embed{
        width: 100%;
        height: 100%;
    }
    
    @media screen and (max-width: 767px) {
        .contact5_content-left{
            padding: 0;
        }
        .contact5_content-right{
            display: none;
        }
        
        /* Single column layout on mobile */
        .contact5_content {
            grid-template-columns: 1fr !important;
        }
        
        /* Show mobile form */
        .contact5_mobile-form {
            display: block !important;
            border: .125rem solid var(--border-color--border-primary);
            border-radius: var(--border-radius--medium);
            background-color: var(--shades-beige--beige200);
            box-shadow: var(--shadow-size--x-medium) var(--shadow-size--y-medium) 0 0 var(--border-color--border-primary);
            padding: 2rem 1.75rem;
            transition: all .3s;
        }
        
        .contact5_contact-grid {
            grid-template-columns: 1fr;
            gap: 30px;
            width: 100%;
            margin-top: 50px;
        }
        
        .contact5_contact-section {
            padding: 0;
        }
        .contact5_content-left-top{
            border: none;
        }
    }
</style>

{% schema %} 
{
  "tag": "section",
  "name": "ContactForm",
  "class": "section_contact8",
  "settings": [
    {
      "type": "header",
      "content": "Contact CTA Content Settings"
    },
    {
      "type": "textarea",
      "id": "contact_heading_text",
      "label": "Contact CTA Heading Text",
      "default": "Medium length section heading goes here"
    },
    {
      "type": "richtext",
      "id": "contact_paragraph_text",
      "label": "Contact Paragraph Text",
      "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>"
    },
    {
      "type": "header",
      "content": "Visit Us Section"
    },
    {
      "type": "text",
      "id": "visit_address_line1",
      "label": "Address Line 1",
      "default": "2/338 Lytton Road,"
    },
    {
      "type": "text",
      "id": "visit_address_line2",
      "label": "Address Line 2", 
      "default": "Morningside,"
    },
    {
      "type": "text",
      "id": "visit_address_line3",
      "label": "Address Line 3",
      "default": "Queensland, Australia"
    },
    {
      "type": "header",
      "content": "Follow Us Section"
    },
    {
      "type": "text",
      "id": "social_platform1",
      "label": "Social Platform 1",
      "default": "LinkedIn"
    },
    {
      "type": "text",
      "id": "social_platform2", 
      "label": "Social Platform 2",
      "default": "Facebook"
    },
    {
      "type": "text",
      "id": "social_platform3",
      "label": "Social Platform 3", 
      "default": "TikTok"
    },
    {
      "type": "header",
      "content": "Contact Information"
    },
    {
      "type": "text",
      "id": "phone_number",
      "label": "Phone Number",
      "default": "2/338 Lytton Road,"
    },
    {
      "type": "text", 
      "id": "email_address",
      "label": "Email Address",
      "default": "2/338 Lytton Road,"
    },
    {
      "type": "header",
      "content": "Map Section Settings"
    },
    {
      "type": "text",
      "id": "map_tagline_text",
      "label": "Map Section Tagline",
      "default": "Wanna see where the magic happens?"
    },
    {
      "type": "text",
      "id": "map_heading_text",
      "label": "Map Section Heading",
      "default": "Swing by the garage."
    },
    {
      "type": "richtext",
      "id": "map_paragraph_text",
      "label": "Map Section Description",
      "default": "<p>We're open for drop-ins during biz hours, so come talk ideas, check out our setup, or chat through your next big idea.</p>"
    },
    {
      "id": "maps_embed_html",
      "type": "html",
      "label": "Google Maps Embed Code",
      "default": "<iframe src=\"https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3540.4355714507547!2d153.07644067658967!3d-27.45569591611173!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b915913083e0ac5%3A0x456286db7f337e55!2sThe%20Print%20Garage!5e0!3m2!1sen!2sau!4v1734574616091!5m2!1sen!2sau\" width=\"100%\" height=\"100%\" style=\"border:0;\" allowfullscreen=\"\" loading=\"lazy\" referrerpolicy=\"no-referrer-when-downgrade\"></iframe>"
    }
  ],
  "presets": [
    {
      "name": "ContactForm",
      "category": "Liquify",
      "blocks": []
    }
  ]
}
{% endschema %}